@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=VT323&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #2f3338;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.container {
    background: #404449;
    border: 3px #686d76 solid;
    border-radius: 13px;
    height: 90vh;
    width: 300px;
    padding: 15px;
    color: #ebe9e5;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: #00000075 7px 7px 0px;
    position: absolute;
}

.input-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

    background: #2c2f33;
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;

    input {
        width: stretch;
        background: #2c2f33;
        border: none;
        font-size: 16px;
        color: #ffffff;

        &:focus {
            outline: none;
        }
    }
}

.defilement-text {
    display: inline-block;
    padding-left: 150%;
    animation: defilement 15s linear infinite;
}

.not-selected {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #2c2f33;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #acacb0;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #acacb0;
}

@keyframes defilement {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes rotation {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 0 rgba(120, 107, 103, 0.7);
    }
    70% {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 0 10px rgba(120, 107, 103, 0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 0 rgba(120, 107, 103, 0);
    }
}
