@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=VT323&display=swap");

#root {
    max-width: 1670px;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #2f3338;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

h3 {
    margin: 0;
}

.container {
    background: #404449;
    border: 3px #686d76 solid;
    border-radius: 13px;
    height: 90vh;
    width: 300px;
    padding: 15px;
    color: #ebe9e5;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: #00000075 7px 7px 0px;
    position: absolute;

    &.emojis {
        width: 400px;
    }
}

.input-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

    background: #2c2f33;
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;

    input {
        width: stretch;
        background: #2c2f33;
        border: none;
        font-size: 16px;
        color: #ffffff;

        &:focus {
            outline: none;
        }
    }
}

.defilement-text {
    display: inline-block;
    padding-left: 150%;
    animation: defilement 15s linear infinite;
}

.not-selected {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.container-compositions:hover {
    background-color: #00000012;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #8e8e8f7b;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #626265;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #626265;
}

::-moz-selection {
    background-color: #626265;
}
::selection {
    background-color: #626265;
    color: #ffffff;
}

@keyframes defilement {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes rotation {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 0 rgba(120, 107, 103, 0.7);
    }
    70% {
        transform: translate(-50%, -50%) scale(1.05);
        box-shadow: 0 0 0 10px rgba(120, 107, 103, 0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 0 0 rgba(120, 107, 103, 0);
    }
}

@keyframes shake-blender {
    0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
    10% {
        transform: translate3d(-0.5px, 0.5px, 0) rotate(-0.2deg);
    }
    20% {
        transform: translate3d(0.5px, -0.5px, 0) rotate(0.2deg);
    }
    30% {
        transform: translate3d(-0.7px, -0.2px, 0) rotate(-0.4deg);
    }
    40% {
        transform: translate3d(0.7px, 0.5px, 0) rotate(0.4deg);
    }
    50% {
        transform: translate3d(-0.5px, 0.5px, 0) rotate(-0.2deg);
    }
    60% {
        transform: translate3d(0.5px, -0.5px, 0) rotate(0.2deg);
    }
    70% {
        transform: translate3d(-0.7px, 0.5px, 0) rotate(-0.4deg);
    }
    80% {
        transform: translate3d(0.7px, -0.5px, 0) rotate(0.4deg);
    }
    90% {
        transform: translate3d(-0.5px, -0.2px, 0) rotate(-0.2deg);
    }
    100% {
        transform: translate3d(0, 0, 0) rotate(0deg);
    }
}

@media (max-width: 1720px) {
    .container.emojis {
        width: 400px !important;
    }
}

@media (max-width: 1600px) {
    .container.emojis {
        width: 350px !important;
    }
}

@media (max-width: 1500px) {
    .container.title {
        width: 40vw !important;
    }

    .container.emojis {
        width: 300px !important;
    }
}

@media (max-width: 1200px) {
    .container.title {
        width: 32vw !important;
    }
}

@media (max-width: 1130px) {
    .small-screen {
        display: flex !important;
    }
}
